<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.CRM.Qa.ExtendReportlistner.ExtentReportListner" />
	</listeners>


	<test name="Free CRM App Test Cases">
		<classes>
			<class name="com.CRM.Qa.testcases.LoginpageTest"></class>
			<class name="com.CRM.Qa.testcases.HomepageTest"></class>
			<class name="com.CRM.Qa.testcases.ContactpageTest"></class>
		</classes>
	</test>
</suite>